{% comment %}
--------------------------------------------------------------
  Section Name: contact-form
  Author: BankkRoll
  Description: Advanced contact form with various fields including name, email, company, subject, phone, and up to five custom fields
  GitHub: https://github.com/BankkRoll/Shopify-Section-Snippets
  License: MIT
--------------------------------------------------------------
{% endcomment %}

{%- style -%}
.contact img {
  max-width: 100%;
}
.contact .form__message {
  align-items: flex-start;
}
.contact .icon-success {
  margin-top: 0.2rem;
}
.contact .field {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}
.contact__button {
  margin-top: 3rem;
}
@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}
.contact__fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
}
.contact__animated {
  animation: slide-up 0.5s ease;
}
@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.button-rounded-sm, .button-rounded-md, .button-rounded-lg,
.button-rounded-sm::before, .button-rounded-sm::after,
.button-rounded-md::before, .button-rounded-md::after,
.button-rounded-lg::before, .button-rounded-lg::after {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.button-rounded-none {
  border-radius: 0px;
}
.button-rounded-sm {
  border-radius: 4px;
}
.button-rounded-md {
  border-radius: 8px;
}
.button-rounded-lg {
  border-radius: 12px;
}
@media screen and (min-width: 600px) {
  .button-rounded {
    border-radius: 4px; /* Small devices */
  }
  .button-rounded-none {
    border-radius: 0px;
  }
}
@media screen and (min-width: 900px) {
  .button-rounded {
    border-radius: 8px; /* Medium devices */
  }
  .button-rounded-none {
    border-radius: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .button-rounded {
    border-radius: 12px; /* Large devices */
  }
  .button-rounded-none {
    border-radius: 0px;
  }
}
@media screen and (max-width: 749px) {
  .contact__fields {
    grid-template-columns: 1fr;
  }
}
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="contact page-width page-width--narrow section-{{ section.id }}-padding" style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;">
    {%- if section.settings.heading != blank -%}
      <h2 class="title title-wrapper--no-top-margin inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ section.settings.heading }}
      </h2>
    {%- else -%}
      <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
    {%- endif -%}
    {%- liquid
      assign contact_form_class = 'isolate'
      if settings.animations_reveal_on_scroll
        assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
      endif
    -%}
    {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
      {%- if form.posted_successfully? -%}
        <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
          {% render 'icon-success' %}
          {{ 'templates.contact.form.post_success' | t }}
        </h2>
      {%- elsif form.errors -%}
        <div class="form__message">
          <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
            {% render 'icon-error' %}
            {{ 'templates.contact.form.error_heading' | t }}
          </h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email }}
            </a>
          </li>
        </ul>
      {%- endif -%}
      <div class="contact__fields">
        {% if section.settings.toggle_name_field %}
        <div class="field">
          <input
            class="field__input"
            autocomplete="name"
            type="text"
            id="ContactForm-name"
            name="contact[{{ 'templates.contact.form.name' | t }}]"
            value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
            placeholder="{{ 'templates.contact.form.name' | t }}"
          >
          <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
        </div>
        {% endif %}

        {% if section.settings.toggle_email_field %}
        <div class="field field--with-error">
          <input
            autocomplete="email"
            type="email"
            id="ContactForm-email"
            class="field__input"
            name="contact[email]"
            spellcheck="false"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="ContactForm-email-error"
            {% endif %}
            placeholder="{{ 'templates.contact.form.email' | t }}"
          >
          <label class="field__label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }}</label>
        </div>
        {% endif %}

        {% if section.settings.toggle_company_field %}
        <div class="field contact__animated">
          <input
            class="field__input"
            type="text"
            id="ContactForm-company"
            name="contact[{{ 'templates.contact.form.Company' | t }}]"
            placeholder="{{ 'templates.contact.form.Company' | t }}"
          >
          <label class="field__label" for="ContactForm-company">{{ 'templates.contact.form.Company' | t }}</label>
        </div>
        {% endif %}

        {% if section.settings.toggle_subject_field %}
        <div class="field contact__animated">
          <input
            class="field__input"
            type="text"
            id="ContactForm-subject"
            name="contact[{{ 'templates.contact.form.Subject' | t }}]"
            placeholder="{{ 'templates.contact.form.Subject' | t }}"
          >
          <label class="field__label" for="ContactForm-subject">{{ 'templates.contact.form.Subject' | t }}</label>
        </div>
        {% endif %}

        {% if section.settings.toggle_phone_field %}
        <div class="field">
          <input
            type="tel"
            id="ContactForm-phone"
            class="field__input"
            autocomplete="tel"
            name="contact[{{ 'templates.contact.form.phone' | t }}]"
            pattern="[0-9\-]*"
            value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
            placeholder="{{ 'templates.contact.form.phone' | t }}"
          >
          <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
        </div>
        {% endif %}

        {% for i in (1..section.settings.num_custom_fields) %}
          {% capture custom_field_key %}custom_field_label_{{ i }}{% endcapture %}
          {% capture custom_field_name %}CustomField{{ i }}{% endcapture %}
          <div class="field contact__animated">
            <input
              class="field__input"
              type="text"
              id="ContactForm-custom-{{ i }}"
              name="contact[{{ custom_field_name }}]"
              placeholder="{{ section.settings[custom_field_key] }}"
            >
            <label class="field__label" for="ContactForm-custom-{{ i }}">{{ section.settings[custom_field_key] }}</label>
          </div>
        {% endfor %}
      </div>

      {% if section.settings.toggle_comment_field %}
        <div class="field">
          <textarea
            rows="10"
            id="ContactForm-body"
            class="text-area field__input"
            name="contact[{{ 'templates.contact.form.comment' | t }}]"
            placeholder="{{ 'templates.contact.form.comment' | t }}"
          >
            {{- form.body -}}
          </textarea>
          <label class="form__label field__label" for="ContactForm-body">
            {{- 'templates.contact.form.comment' | t -}}
          </label>
        </div>
      {% endif %}


      <div class="contact__button">
        <button type="submit" class="button button-rounded-{{ section.settings.button_corner_rounding }}">
          {{ 'templates.contact.form.send' | t }}
        </button>
      </div>
    {%- endform -%}
  </div>

</div>


{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "button_corner_rounding",
      "label": "Button Corner Rounding",
      "options": [
        { "value": "none", "label": "None"},
        { "value": "sm", "label": "Small" },
        { "value": "md", "label": "Medium" },
        { "value": "lg", "label": "Large" }
      ],
      "default": "none"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "checkbox",
      "id": "toggle_name_field",
      "label": "Show Name Field",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "toggle_email_field",
      "label": "Show Email Field",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "toggle_company_field",
      "label": "Show Company Field",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "toggle_subject_field",
      "label": "Show Subject Field",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "toggle_phone_field",
      "label": "Show Phone Field",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "toggle_comment_field",
      "label": "Show Comment Field",
      "default": true
    },
    {
      "type": "range",
      "id": "num_custom_fields",
      "label": "Number of Custom Fields",
      "min": 0,
      "max": 5,
      "default": 0
    },
    {
      "type": "text",
      "id": "custom_field_label_1",
      "label": "Custom Field 1 Label",
      "default": "Custom Field 1"
      },
      {
        "type": "text",
        "id": "custom_field_label_2",
        "label": "Custom Field 2 Label",
        "default": "Custom Field 2"
      },
      {
        "type": "text",
        "id": "custom_field_label_3",
        "label": "Custom Field 3 Label",
        "default": "Custom Field 3"
      },
      {
        "type": "text",
        "id": "custom_field_label_4",
        "label": "Custom Field 4 Label",
        "default": "Custom Field 4"
      },
      {
        "type": "text",
        "id": "custom_field_label_5",
        "label": "Custom Field 5 Label",
        "default": "Custom Field 5"
      }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}