{% comment %}
--------------------------------------------------------------
  Section Name: logo-list
  Author: BankkRoll
  Description: Ideal for displaying brand collaborations, featured clients, ect.
  GitHub: https://github.com/BankkRoll/Shopify-Section-Snippets
  License: MIT
--------------------------------------------------------------
{% endcomment %}

{%- style -%}
  .logo-bar__container {
    display: {{ section.settings.layout }};
    flex-wrap: wrap;
    {% if section.settings.layout == 'flex' -%}
      justify-content: space-around;
    {%- endif %}
  }
  .logo-bar__item img {
    width: 100%;
    height: auto;
  }

  /* Presets */
  .half-and-two-quarters .logo-bar__item:first-child {
    flex-basis: 50%;
  }
  .half-and-two-quarters .logo-bar__item:nth-child(2),
  .half-and-two-quarters .logo-bar__item:nth-child(3) {
    flex-basis: 25%;
  }
  
  .full-and-grid .logo-bar__item:first-child {
    flex-basis: 100%;
  }
  .full-and-grid .logo-bar__item:not(:first-child) {
    flex-basis: calc(33.33% - 10px);
  }
{%- endstyle -%}

<h2 style="text-align: {{ section.settings.title_alignment }}">{{ section.settings.title | escape }}</h2>

{%- if section.blocks.size > 0 -%}
  <div class="logo-bar__container {{ section.settings.preset_layout }}">
    {%- for block in section.blocks -%}
      <div class="logo-bar__item" {{ block.shopify_attributes }}>
        {%- if block.settings.link != blank -%}
          <a href="{{ block.settings.link }}">
        {%- endif -%}
        {%- if block.settings.image != blank -%}
          {{ block.settings.image | img_url: '160x160', scale: 2 | img_tag: block.settings.image.alt }}
        {%- else -%}
          {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
        {%- if block.settings.link != blank -%}
          </a>
        {%- endif -%}
      </div>
    {%- endfor -%}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Logo list",
  "class": "index-section",
  "max_blocks": 10,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Logo list"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "label": "Title Alignment",
      "default": "center",
      "options": [
        {"label": "Left", "value": "left"},
        {"label": "Center", "value": "center"},
        {"label": "Right", "value": "right"}
      ]
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "flex",
      "options": [
        {"label": "Grid", "value": "grid"},
        {"label": "Flex", "value": "flex"}
      ]
    },
    {
      "type": "select",
      "id": "logo_width",
      "label": "Logo Width",
      "default": "160px",
      "options": [
        {"label": "Extra Small", "value": "100px"},
        {"label": "Small", "value": "125px"},
        {"label": "Medium", "value": "160px"},
        {"label": "Large", "value": "175px"},
        {"label": "Extra Large", "value": "200px"}
      ]
    },
    {
      "type": "select",
      "id": "preset_layout",
      "label": "Preset Layout",
      "default": "default",
      "options": [
        {"label": "Default", "value": "default"},
        {"label": "Half and Two Quarters", "value": "half-and-two-quarters"},
        {"label": "Full and Grid", "value": "full-and-grid"}
      ]
    }
  ],
  "blocks": [
    {
      "type": "logo_image",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo list",
      "category": "Image",
      "blocks": [
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        }
      ]
    }
  ]
}
{% endschema %}